<div class="card-icon {{card-color}}" {{#if image}}style="background-image: url('{{image}}')"{{/if}} ></div>

<!-- <div class="card-icon-decorate {{card-color}}" ></div> -->
<div class="gv-card-header-area">
	<h3 class="card-head">{{card-head}}</h3>

	
	<h4 class="card-summary">
		{{#if card-sub-heading}}{{card-sub-heading}}{{/if}}
	</h4>
	
</div>

<div class="gv-card-paragraph-area">
{{#if card-copy}}
 <p class="card-analysis">{{{card-copy}}}</p>
{{/if}}


</div>
{{#if storyLink}}
<div class="gv-card-button-holder">
	
		<div class="gv-read-more-btn" link-ref="{{storyLink}}">read more</div>
	
</div>
{{/if}}


<!-- {{#if links}}
	<p class="card-links">
		{{#each links}}
			<a href="{{url}}"><span>{{headline}}</span></a>
		{{/each}}
	</p>
{{/if}} -->