{{#if image}}<div class="card-icon {{card-color}}" style="background-image: url('{{image}}')" ></div>{{/if}}

<div class="gv-card-header-area">
	<h3 class="card-head">{{card-head}}</h3>


	<h4 class="card-summary">
		{{#if card-sub-heading}}{{card-sub-heading}}{{/if}}
	</h4>

</div>

{{#if pop-pct}}
<div class='gv-pop-summary'>Pop: {{pop-summary}} of total</div>
<div class='gv-pop-bar'>
	<div class='gv-total' style='width: {{pop-pct}}%;'></div>
</div>
{{/if}}

<div class="gv-card-paragraph-area">
{{#if card-copy}}
 <p class="card-analysis">{{{card-copy}}}</p>
{{/if}}
</div>


<!-- {{#if links}}
	<p class="card-links">
		{{#each links}}
			<a href="{{url}}"><span>{{headline}}</span></a>
		{{/each}}
	</p>
{{/if}} -->
