<div class="gv-card-header-area">

	<img class='card-img-block' src='./assets/single_dude.png'>
	<div class='card-h-block'>
		<h3 class="card-head">{{card-head}}</h3>
	</div>
</div>

<div class="gv-card-paragraph-area">
{{#if card-2017-18}}
 <p class="card-analysis"><span>2017-18</span> {{{card-2017-18}}}</p>
{{/if}}
{{#if card-2018-19}}
 <p class="card-analysis second"><span>2018-19</span> {{{card-2018-19}}}</p>
{{/if}}
</div>


<!-- {{#if links}}
	<p class="card-links">
		{{#each links}}
			<a href="{{url}}"><span>{{headline}}</span></a>
		{{/each}}
	</p>
{{/if}} -->
