<div class="main">
    <div class="horizontal-accordion">
        <ul class="show-desktop">
            {{#navGroup}}
            <li class="init" data-team="{{{Country}}}" key-ref="{{{Order_appearance}}}" style="background-color: #{{{Color}}}">
            </li>
            {{/navGroup}}
        </ul>
        <div class="gv-header-container">
            <div class="gv-kicker">Football</div>
            <br/>
            <div class="gv-headline">World cup shirts</div>
            <br/>
            <div class="gv-headline">through the ages</div>
        </div>
        <div class="gv-mobile-swatches show-mobile">{{#navGroup}}
            <div class="gv-mobile-swatch  {{{borderClass}}}" data-team="{{{Country}}}" key-ref="{{{Order_appearance}}}" style="background-color: #{{{Color}}}"></div>{{/navGroup}}</div>
    </div>
   <div class="breaker under-nav"></div>
    <div class="share-wrapper">
        <div class="share-container">
            <div class="share-inner">
                <div class="share-inner-left">
                    <p class="time-stamp">Friday 16 March 2018 12:06 UTC</p>
                    <div class="gv-share-container">
                        <button class="interactive-share" data-network="facebook"></button>
                        <button class="interactive-share" data-network="twitter"></button>
                        <button class="interactive-share" data-network="email"></button>
                    </div>
                </div>
                <div class="share-inner-main">
                    
                    <p class="gv-standfirst">This will be a standfirst that is up to three lines long This will be a standfirst that is up to three lines long This will be a standfirst.</p>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="interactive-nav display-none">
        <div class='interactive-nav__inner'>
           
            {{#groups}}
            <div class="gv-nav-holder">
                <a href="#group-{{groupRef}}" data-jump-to='{{groupRef}}'>{{Header}}</a>
            </div>   



            {{/groups}}
        </div>
    </div> -->
    {{#groups}}
    <div class="breaker breaker-top"></div>
    <div class="breaker"></div>
    <div class="breaker"></div>
    <div class="breaker"></div>
    <div class='left-col' data-title="{{sortOn}}">
        <!-- <div class="left-col-summary">
            <div class="summary-text">Tournament appearances: {{finalsAppearances}}</div>
        </div>   -->
        <!--  <div class="gv-bar-chart">

                    <div class="gv-bar-cap">
                    Total final appearances: {{finalsAppearances}}
                    </div>
                    <div class="gv-bar-holder white">
                        <div class="gv-total white" style="width: {{{totalTournaments_pc}}}%;"></div>
                    </div>

                 
                    <div class="gv-bar-cap">
                    Knocked out in groups {{groupKO}} times
                    </div>
                    <div class="gv-bar-holder black">
                        <div class="gv-total black" style="width: {{{group_pc}}}%;"></div>
                    </div>
              


                    <div class="gv-bar-cap">
                    Knocked out in last 16 {{r16KO}} times
                    </div>
                    <div class="gv-bar-holder black">
                        <div class="gv-total black" style="width: {{{r16_pc}}}%;"></div>
                    </div>


                     <div class="gv-bar-cap">
                    Knocked out in quarter-final {{qfKO}} times
                    </div>
                    <div class="gv-bar-holder black">
                        <div class="gv-total black" style="width: {{{qf_pc}}}%;"></div>
                    </div>

                    <div class="gv-bar-cap">
                    Knocked out in semi-final {{sfKO}} times
                    </div>
                    <div class="gv-bar-holder black">
                        <div class="gv-total black" style="width: {{{sf_pc}}}%;"></div>
                    </div>

                    <div class="gv-bar-cap">
                    Beaten finalist {{ruKO}} times
                    </div>
                    <div class="gv-bar-holder black">
                        <div class="gv-total black" style="width: {{{ru_pc}}}%;"></div>
                    </div>

                    <div class="gv-bar-cap">
                    Winners {{winnerKO}} times
                    </div>
                    <div class="gv-bar-holder black">
                        <div class="gv-total black" style="width: {{{winner_pc}}}%;"></div>
                    </div>



                   
                    
              
                </div>   -->
    </div>
    <div class='card-group' id="group-{{groupRef}}" data-scroll data-title="{{sortOn}}">
        {{>cardstack}}
        <div class='pagination paginate{{groupRef}}' id="paginate-{{groupRef}}"></div>
    </div>
    {{/groups}}
    <div class="gv-back-top-btn hidden display-none"></div>
</div>
<div class="gv-hidden-footer"> </div>