

<div class="main">
    

    {{#groups}}
        <div class='card-group' id="group-{{groupRef}}" data-scroll>
         	<div class="card-group__header">
                    <div class='card-group__header__text' id="group-header-{{groupRef}}">
                        <!-- <h2 class='card-group__header__text__title'>{{Header}}</h2> -->
                        <!-- <p class='card-group__header__text__description'>{{Standfirst}}</p> -->
                        <h2>{{Standfirst}}</h2>
                    </div>
                </div>
            {{>cardstack}}
            <div class='pagination paginate{{groupRef}}' id="paginate-{{groupRef}}"></div>
        </div>
    {{/groups}}




</div>
<div class="gv-hidden-footer"> </div>

