.card-caption{
	position:relative;
	
	.cap-holder{
		width: calc(100% - 15px);
		margin-top: -2px;
	}

	.header-wrap{
		display: inline;
		position:relative;
		width: 100%;
		height: 100px;
	    padding: 1px 5px 6px 10px;
	    background-color: $yellow-accent;
	    font-family: "Guardian Headline Full","Guardian Egyptian Web",Georgia,serif;
	    font-size: 28px;
    	line-height: 35px;
    	font-weight: 700;
    	font-variant-numeric: lining-nums;
		-moz-font-feature-settings: "lnum";
		-webkit-font-feature-settings: "lnum";
		font-feature-settings: "lnum";
	    color:$neutral-1;
	    box-decoration-break:clone;
    	-webkit-box-decoration-break:clone;
	}

	

	.copy-wrap{
		display: inline-block;
		// position:relative;
		width: 100%;
	    padding: 6px 5px 5px 10px;
	    background-color: $yellow-accent;
	   	font-family: "Guardian Headline Full", Georgia;
	    font-size: 16px;
	    line-height: 20px;
	    font-style: italic;
    	font-weight: 400;
	}



}
