// html,
// body,
// .element-atom,
// .interactive-atom {
//     height: 100%;
// }

html{
    background-color:#FFF;
}

.main {
    margin: auto;
    min-height: 100vh;
    padding: 0 20px;
    @each $bp in (tablet, desktop, leftCol, wide) {
        @include mq($bp) {
            max-width: map-get($mq-breakpoints, $bp);
        }
    }
}

.element-atom,
.interactive-atom {
    margin-left: -10px;
    margin-right: -10px;
    @include mq(tablet) {
        margin-left: -20px;
        margin-right: -20px;
    }
}

.ios,
.android,
.windows {
    p,
    h1,
    h2,
    h3 {
        margin: 0;
        padding: 0;
    }
    .interactive-nav {
        background-color: transparent;
    }
    .interactive-atom {
        border-top: 0;
    }
    .article__header {
        #section {
            display: none;
        }
        #headline {
            font-weight: 600;
        }
        .standfirst {
            margin-top: -18px;
        }
    }
}

body {
    // background-color: #eaeaea;
    overflow-x: hidden;
}

.card-group{
    width:100%;
    border-left: none;
    // @include mq(leftCol){
    //     width: calc(100% - 180px);
    //     margin-left:180px;  
    // }
    // @include mq(wide){
    //     width: calc(100% - 260px);
    //     margin-left:260px;  
    // }
    
}

.left-col{
    position:relative;
    float:none;
    max-width: 180px;
    height: 8px;
    font-size: 16px;
    line-height: 22px;
    font-family: "Guardian Headline","Guardian Egyptian Web",Georgia,serif;
    font-weight: normal;
    font-weight: 700;
    color: $neutral-dark;
    background-color: none;
    border-right:none;
    top: 0px;
    padding: 3px 5px;
    box-decoration-break: clone !important;
    -webkit-box-decoration-break: clone !important;
    z-index: 3;

    @include mq(leftCol){
        height: 22px;
        float:left;
        padding: 3px 5px 4px 0;
        top: -10px;   
    }

    
}

.left-col::after {
    position: absolute;
    top: -16px;
    content: attr(data-title);
    font-size: 24px;
    line-height: 26px;
    font-family: "Guardian Headline","Guardian Egyptian Web",Georgia,serif;
    font-weight: normal;
    font-weight: 700;
    padding: 3px 5px 0;
    color: #FFF;
    background-color: $neutral-1;

    @include mq(tablet){
        font-size: 28px;
        line-height: 28px;
        position: relative;
        padding: 6px 5px 5px 10px;
        top: 0px;
    }
}

.left-col-summary{
    display:block;
    top: 180px;
    color:#FFF;
    background-color:none;
    

    .summary-text{
        display:inline;
        color:#FFF;
        background-color:$neutral-dark;
        padding: 3px 5px;
        box-decoration-break: clone;
        -webkit-box-decoration-break: clone;
    }
}

.swiper-container {
    width: 100%;
    overflow: hidden;
    padding-top: 12px;
    // height: 300px;
    display: flex;
    @include mq(tablet) {
        margin-bottom: 24px;
    }
    @include mq(tablet) {
        padding-left: 10px;
        padding-right: 20px;
    }
    @include mq(leftCol) {
        padding: 0;

    }
}

.swiper-wrapper {
    width:100%;

    @include mq(tablet) {
        flex-wrap: wrap;
    }

     &.mobile-init-view{
        height: 210px;

        @include mq(mobileLandscape){
            height:240px;
        }
        @include mq(tablet){
            height:auto;
        }
    }
}

.swiper-slide {
    font-size: 18px;
    color: $neutral-dark;
    float: left;
    box-sizing: border-box;
    padding: 3px 10px 12px;
    width: calc(50% - 2px);
    height:210px;
    // background-color: $ux-grey;
    border: none;
    border-left: 1px solid $neutral-main;
    &.border-yellow{
        border-left: 1px solid $yellow-accent;
    }
    
    p {
        margin: 0;
        @include fs-headline(2);
        font-family: "Guardian Text Egyptian Web", Georgia, serif;
    }

    @include mq(mobileLandscape){
            height:240px;
        }
    
    @include mq(tablet) {
        height: 280px;
        width: calc(33% - 10px);
        
        border: none;
        padding: 3px 0;
        border-left: 1px solid $neutral-main;
    }

    @include mq(desktop){
        height: 280px;
        width: calc(20% - 10px);
    }

    &.no-border-top{
        border-top:none;
    }

    &.no-border-right{
        border-right:none;
    }

    &.no-border-bottom{
        border-bottom:none;
    }
}

.swiper-slide {
    .card-summary .pledge,
    .card-analysis,
    .card-links {
        @include fs-bodyCopy(2);
    }
    &:nth-child(odd) {
            border:none;   
    }

}

@include mq(tablet){
    .swiper-slide:nth-child(odd) {
        border-left: 1px solid $neutral-main;
    }
    .swiper-slide:nth-child(3n+1) {  /* or 4n+1 */
        border:none; 
    }

    

}

@include mq(desktop){
    .swiper-slide:nth-child(odd) {
        border-left: 1px solid $neutral-main;
    }
    .swiper-slide:nth-child(3n+1) {  /* or 4n+1 */
        border-left: 1px solid $neutral-main;
    }


    .swiper-slide:nth-child(5n+1) {  /* or 4n+1 */
        border:none; 

        
    }

    




}

@include mq(leftCol){
     .swiper-slide:last-child{
        border-right: 1px solid $neutral-main;
            width: calc(20% - 9px);
     }
}

.card-analysis {
    border-top: 2px solid rgba(255, 255, 255, 0.2);
    padding-top: 4px
}

p.card-links {
    border-top: 2px solid rgba(255, 255, 255, 0.2);
    padding-top: 4px;
    margin-top: 6px;
    &::before {
        content: 'Read more';
        font-weight: 700;
        display: block;
    }
    a {
        color: #fff;
        display: block;
        clear: both;
        span {
            border-bottom: 1px solid rgba(255, 255, 255, 0.4);
        }
        &:hover {
            text-decoration: none;
        }
        &:nth-of-type(n+1) {
            margin-top: 3px;
        }
    }
}

div.card-icon {
    height: 57px;
    width: 57px;
    float: left;
    border-radius: 1000px;
    margin-top: -12px !important;
    background-size: cover;
    background-position: center center;
    background-color: rgba(231, 231, 231, 0.25);
    margin-right: 5px;
    &.purple {
        background-color: $purple;
        border: 3px solid $purple;
    }
    &.blue {
        background-color: $blue;
        border: 3px solid $blue;
    }
    &.grey {
        background-color: $grey;
        border: 3px solid $grey;
    }
    &.pink {
        background-color: $pink;
        border: 3px solid $pink;
    }
    &.green {
        background-color: $green;
        border: 3px solid $green;
    }
    &.yellow {
        background-color: $yellow;
        border: 3px solid $yellow;
    }
}

.pagination {
    text-align: center;
    line-height: 5px !important;
    padding: 18px 0 26px;
    .swiper-pagination-bullet {
        margin-right: 3px;
    }
}

.card-group__header {
    position: relative;
    box-sizing: border-box;
    padding: 0;
    overflow: hidden;
    @include fs-headline(2);
    margin-bottom: 12px;
    margin-top: -2px;
    z-index: 140;
    
    // margin-top: 6px;
    @include mq($until: tablet) {
        padding-left: 20px;
    }
    @include mq(tablet) {
        padding-left: 20px;
    }
    @include mq(leftCol) {
        padding-left: 180px;
    }
    @include mq(wide) {
        padding-left: 260px;
    }
    &__text {
        padding-top: 12px;
        width: calc(80% - 10px);
        max-width: 460px;
        // min-height: 60px;
        @include mq(tablet) {
            padding-top: 6px;
            padding-bottom: 12px;
        }
        @include mq(leftCol) {
            max-width: 380px;
        }
        @include mq(wide) {
            max-width: 620px;
        }
        &__title {
            display:inline-block;
            margin-top: 0 !important;
           background-color: $yellow-accent;
            font-size:30px;
            line-height:28px;
            margin-bottom: 3px;
            color: $neutral-dark;
                padding: 0 5px 4px 10px;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
    position: relative;
            @include mq(tablet) {
                
                //margin-bottom: 11px;
                // transform: translateY(5.5px);
            }
        }
        &__description {
            margin-top: 0 !important;
            margin-bottom: 0 !important;
            font-size: 18px !important;
            line-height: 22px !important;
            font-weight: 500;
            color: $neutral-dark;
            @include mq(tablet) {
               
            }
        }
    }
}



.badge-slot {
    width: 42px;
    height: 30px;
}

// .content__headline,
// .content__headline,
// .content__section-label__link {
//     font-size: 28px;
//     line-height: 28px;
// }
// .content__section-label__link {
//     display: inline-block;
//     height: 28px;
//     width: 210px;
//     overflow: hidden;
//     color: #63747C;
//     @include mq(375px) {
//         overflow: auto;
//         width: auto;
//     }
//     @include mq(tablet) {
//         height: auto;
//         font-size: 22px;
//         line-height: 1em;
//         padding-top: 3px;
//     }
// }
// removes second date line
.content__head .content__main-column .content__dateline {
    display: none;
}

.content__labels {
    display: block;
}

.content__labels--not-immersive {
    border: 0;
}

.interactive-ad-banner {
    display: flex;
    justify-content: center;
    background-color: guss-colour(white);
    position: relative;
    z-index: 0;
    @include mq($from: tablet) {
        .ad-slot--rendered {
            margin: 20px 0 40px 0;
        }
    }
}

.byline {
    margin-top: 18px;
}

.article-footer {
    padding: 0 20px;
    font-size: 18px;
    line-height: 24px;
    max-width: 620px;
    clear: both;
    @include mq(leftCol) {
        margin-left: 160px;
    }
    @include mq(wide) {
        margin-left: 240px;
    }
    &__wrap-up {}
    &__end-notes {
        margin-top: 24px;
        padding-top: 6px;
        border-top: 2px solid $ux-grey;
        font-family: 'Guardian Text Sans Web', 'Guardian Sans Web', helvetica, arial, sans-serif;
        color: #767676;
    }
}

figure.element.element-atom {
    margin-top: 0px;
}

.gv-nav-holder {
    display: inline-block;
    background-color: #EEE;
    margin: 0 6px 12px 0;
    padding: 3px 18px;
    border-radius: 100px;
    a {
        font-weight: 400;
        display: inline-block;
        color: $ux-grey;
        text-decoration: none;
        padding: 3px 0;
        @include mq(desktop) {
            padding: 0;
        }
        &:hover {
            color: #333;
            &::before {
                color: $ux-grey;
            }
        }
        &:first-of-type {
            &::before {
                opacity: 0.25;
            }
        }
    }
}

.gv-card-header-area{
    padding-top: 2px;
    left: 6px;
    min-height:18px;

}


.gv-card-image-area{
    position: relative;
    
    clear: both;
    margin-bottom:12px;
    width:100%;
    background-repeat:no-repeat;
    padding-bottom: 160px;
    background-size: contain;
    background-position-x: center;

    @include mq(mobileLandscape){
       padding-bottom: 190px; 
    }

    @include mq(desktop){
       padding-bottom: 220px; 
    }
    
}





.gv-hidden-footer {
    position: relative;
    width: 100%;
    height: 120px;
    background-color: none;
}

.content__main-column figure {
    min-height: 320px;
    @include mq(tablet) {
        min-height: 460px;
    }
}

.main::before {
        content: '';
        display: block;
        height: 100%;
        width: 0;
        position: absolute;
        top: 0;
        @include mq(leftCol) {
            left: 160px;
            // border-right: 1px solid #7BD7FF ;
        }
        @include mq(wide) {
            left: 240px;
        }
    }