.gv-header-container{
    position: relative;
    width: calc(100% - 20px);
    margin-top:36px; 

    @include mq(mobileLandscape){
        position:absolute;
        top:0;
        margin-top:116px; 
        max-width:420px;
    }

    @include mq(tablet){
        margin-left: 20px;
    }
    @include mq(leftCol){
        margin-left: 220px;
    }
    @include mq(wide){
        margin-left: 250px;
    }
}

.gv-kicker{
    position: relative;
    display: inline-block;
    padding: 4px 10px 4px 10px;
    font-family: "Guardian Headline", "Guardian Egyptian Web", Georgia, serif;
    
    font-size: 24px;
    line-height: 24px;
    font-weight: 700;
    color: #FFF;
    background-color: $blue-sport;



    @include mq(tablet){
        padding: 0 5px 4px 10px;
        font-size: 50px;
        line-height: 62px;
    }
    
    

}

.gv-headline{
    position: relative;
    display:inline-block;
    padding: 4px 10px 4px 10px;   
    font-family: "Guardian Headline", "Guardian Egyptian Web", Georgia, serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    max-width: 225px;
    color:#000;
    background-color: $yellow-accent;

    @include mq(mobileLandscape){
        font-size: 40px;
        line-height: 48px;
         max-width: 420px;
    }

     @include mq(tablet){
        padding: 0 5px 4px 10px;
        font-size: 50px;
        line-height: 62px;
         max-width: 420px;
    }
}

.gv-standfirst{
    color: #121212;
    background-color:rgba(255,255,255,0.85);
    padding-top: 6px;
    padding-left: 0;
    font-size: 18px;
    line-height: 22px;
    font-family: "Guardian Headline","Guardian Egyptian Web",Georgia,serif;
    font-weight: normal;
    font-weight: 300;
    max-width: 420px;

    @include mq(tablet){
        padding-top: 12px;
        padding-left: 0;
        font-size: 20px;
    line-height: 24px;
    }

    @include mq(leftCol){
        padding-left: 10px;
    }
}

.gv-meta-slice{
      width:260px;
      height:36px;
}

.gv-byline-slice{
      width: calc(100% - 260px);
      height:36px;
      float: left;
}

.share-buttons{
    width:260px;

    a{
        display:inline-block;
        width: 36px;
    }
}