// $header-bg:lighten($News-Red, 35%);

//$header-bg:$Highlight-Yellow;

$header-bg:#FEFEFE;

$header-red:#ff4e36;

$header-bg-text: $Sport-Blue;

$header-blue: $Sport-Blue;

.gv-header{
    height:480px;
    background-color: rgba($header-bg, 0.8);
    // background-image: url('<%= path %>/assets/iso-small-dark.png');
    // background-repeat: none;

    @include mq(tablet){
        // background-image: url('<%= path %>/assets/iso-med-dark.png');
        height:380px;
    }

    @include mq(desktop){
        // background-image: url('<%= path %>/assets/iso-med-dark.png');
        height:320px;
    }

    @include mq(leftCol){
        // background-image: url('<%= path %>/assets/iso-med-dark.png');
        height:360px;
    }

    // @include mq(leftCol) {
    //         border-left: 1px solid $neutral-7;
    //         margin-left: 140px;
    //         padding-left:20px;
    //     }
    // @include mq(wide) {
    //     margin-left: 220px;
    // }



}

.gv-header-bg-container{
    position: absolute;
    top: 45px;
    width: 100%;
    height: 300px;
    /* right: 10px; */
    background-position: top center;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-image: url('<%= path %>/assets/iso-med-dark-red-grey.png');

     @include mq(mobileLandscape){
        background-size: 60% auto;
        top: 30px;
        background-position: top right;
        width: 600px;
        height:480px;
    }

    @include mq(tablet){
        top:10px;
        right: 10px;
        background-size: auto 98%;
        width:600px;
        

    }

    @include mq(desktop){
        top:20px;
        height:500px;
    }

    @include mq(leftCol){
            width: 750px;
            height: 450px;
            top: 10px;
            right: 200px;
            background-size: auto 98%;
    }

    @include mq(wide){
        top:10px;
        height:520px;
        right: 130px;      
    }
}

.gv-header-container{
    position:relative;
    width:100%;
    
    margin: 0 auto;

     @each $bp in (tablet, desktop, leftCol, wide) {
        @include mq($bp) {
            max-width: map-get($mq-breakpoints, $bp);
        }
    }
}




.gv-headline-title, .gv-headline-copy{
    position:absolute;      
    font-family: "Guardian Headline","Guardian Headline Full", Georgia, serif;
    font-weight: 700;    
    max-width: 280px;
    top:405px;
   
    @include mq($from: tablet){
        text-shadow: -1px -1px 0 $header-red, 1px -1px 0 $header-red, -1px 1px 0 $header-red, 1px 1px 0 $header-red;
    }

    @include mq(tablet){       
        font-size: 54px;
        line-height: 56px;
        max-width: 360px;
        top:271px; 
        
    }
    @include mq(desktop){ 
        
        top:190px;
    }

    @include mq(leftCol){   
        top:211px;
        font-size: 62px;
        line-height: 64px;        
        border-left: 1px solid $Sport-Blue;
        margin-left:220px;        
        border-left: 1px solid $Sport-Blue;
        padding:0 0 60px 0;
    }

    @include mq(wide){
        margin-left:250px;
    }

    span{
            font-family: "Guardian Headline","Guardian Egyptian Web",Georgia,serif;
            font-weight: normal;
            font-size: 32px;
            line-height: 40px;
            font-weight: 700;
            display:inline;
            box-decoration-break: clone;
            -webkit-box-decoration-break: clone;
            padding: 4px 10px 4px 10px;
            background-color:$header-red;
            color:white;
            @include mq(tablet){
                font-size: 50px;
                line-height: 62px;
            }

        // &.gv-span-title{
        //     background-color:red;
        // }
    }
}

.gv-headline-title{
    display:inline-block;
    @include mq($from:mobile, $until:tablet){
            top:360px;
        }
        @include mq(tablet){
            top:200px;
            text-shadow: -1px -1px 0 $header-blue, 1px -1px 0 $header-blue, -1px 1px 0 $header-blue, 1px 1px 0 $header-blue;
        }

        @include mq(desktop){
            top:119px;
        }

        @include mq(leftCol){
            top:140px;
        }
        span{
            font-family: "Guardian Headline","Guardian Egyptian Web",Georgia,serif;
            font-weight: normal;
            font-size: 32px;
            line-height: 32px;
            font-weight: 700;
            display:inline;
            box-decoration-break: clone;
            -webkit-box-decoration-break: clone;
            padding: 4px 10px 6px 10px;
            background-color:$header-blue;
            color:white;
            @include mq(tablet){
                padding: 4px 10px 4px 10px;
                font-size: 50px;
                line-height: 62px;
            }

            // &.gv-span-title{
            //     background-color:red;
            // }
        }
}

.gv-headline{
    
    color:#000;

    @include mq(mobileLandscape){
         max-width: 420px;
    }

     @include mq(tablet){       
        font-size: 62px;
        line-height: 64px;
        max-width: 420px;
        border-left: 1px solid $neutral-7;
    }

    @include mq(leftCol){       
        font-size: 62px;
        line-height: 64px;
        max-width: 420px;
        border-left: 1px solid $neutral-7;
        margin-left:240px;
    }
}

.gv-wc-logo{
    position:absolute;
    height: 60px;
    width: 145px;
    top:0;
    left:10px;
    cursor: pointer;
    &.hide{
        display:none;
    }
    

}

.gv-standfirst{
    color: #121212;
    background-color:rgba(255,255,255,0.85);
    padding-top: 6px;
    padding-left: 0;
    font-size: 18px;
    line-height: 22px;
    font-family: "Guardian Headline","Guardian Egyptian Web",Georgia,serif;
    font-weight: normal;
    font-weight: 300;
    max-width: 500px;

    @include mq(tablet){
        padding-top: 12px;
        padding-left: 0;
        font-size: 20px;
        line-height: 24px;
        max-width: 420px;
    }

    @include mq(leftCol){
        padding-top: 0;
        padding-left: 10px;
    }
}

.gv-meta-slice{
      width:260px;
      height:36px;
}

.gv-byline-slice{
      width: calc(100% - 260px);
      height:36px;
      float: left;
}

.share-buttons{
    width:260px;

    a{
        display:inline-block;
        width: 36px;
    }
}