.visual-element--iframe{

    width:100%;
    border-width: 1px;
    border-color: red;
    padding-left:0;

    @include mq(embedFiveEighty){
        width:580px;
    }

     @include mq(embedSixTwenty){
        width:620px;
    }

   

}