    // Neutral palette
    $neutral-1:              #333333;
    $neutral-2:              #767676;
    $neutral-3:              #bdbdbd;
    $neutral-4:              #dcdcdc;
    $neutral-5:              #eaeaea;
    $neutral-6:              #f6f6f6;



    $blue: #4bc6df;//dc2a7d
    $pink: #dc2a7d;//
    $purple: #7d0068;//
    $grey: #63717a;//
    $yellow: #ffbb00;
    $green: #5ebfba;
    $neutral-light: rgb(231,231,231);
    $neutral-mid: rgb(131,131,131);
    $neutral-dark: rgb(31,31,31);

    $yellow-accent: #ffe500;
    $cyan-accent: #7BD7FF;

    $blue-sport:#1896D7;