$ux-light: #EEE;
$ux-grey: #717D85;
$ux-dark: #222;
.gv-read-more-btn{
    position: relative;
    left: 0;
    width: 142px;
    height: 46px;    
    background-color: #3c3e3c;
    font-family: "Guardian Egyptian Web", Georgia, serif;
    font-size: 16px;
    color: $paradise-yellow;
    cursor: pointer;
}

.gv-button-label{
    position:absolute;
    top:10px;
    left:12px;
    height: 21px;
    width:120px;
    background-image: url('<%= path %>/assets/arrow-orange.svg');
    background-size: 18px;
    background-repeat: no-repeat;
    background-position: 100px 4px;
}


.gv-back-top-btn {
    position: relative;
    left: 0;
    width: 48px;
    height: 48px;
    margin-top: 36px;
    background-color:  $ux-light;
    background-image: url(./assets/arrow.svg);
    border-radius: 9999px;

    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;

    cursor: pointer;

    z-index: 1001;
    display:block;

    &.open{
        transform: rotate(180deg);
        transition: transform  0.15s linear;
        transition-delay: 0.15s;
    }
    
    &.close{
        transform: rotate(180deg);
        transition: transform  0.15s linear;
    }

    &.fixed{
        position: fixed;
    }

    &.hidden{
        display:none;
    }


}

.gv-back-top-btn:hover {
    background-image: url(./assets/arrow-hover.svg);
}


.interactive-nav {
    &__inner {
        position: relative;
        padding-right: 20px;
        @include mq(desktop) {
            max-width: 640px;
            &:before {
                left: 0;
            }
        }
    }
    font-weight: 800;
    color: #005689;
    //  color: rgba(0,0,0,0.3);
    box-sizing: border-box;
    position: -webkit-sticky;
    position: sticky;
    // border-bottom: 1px solid $c-grey;
    background-color: none;
    font-family: 'Guardian Text Sans Web',
    Helvetica,
    Arial,
    sans-serif;
    font-size: 16px;
    line-height: 22px;
    padding-top: 3px;
    padding-left: 10px;
    padding-bottom: 6px;
    @include mq($until: tablet) {
        padding-left: 20px;
    }
    @include mq(tablet) {
        padding-left: 20px;
        padding-top: 9px;
        padding-bottom: 18px;
    }
    @include mq(leftCol) {
        padding-left: 180px;
    }
    @include mq(wide) {
        padding-left: 260px;
    }
    .android &,
    .ios & {
        position: initial;
    }
    top: -3px;
    z-index: 160;
}

.swiper-pagination-bullet {
    border: 1px solid $neutral-light;
    background-color: $neutral-light;
    border-color: $neutral-light;
}

.swiper-pagination-bullet-active {
    border: 1px solid $neutral-dark;
    background-color: $neutral-dark;
    border-color: $neutral-dark;
}