

@import "mq";
@import "fonts";
@import "palette";

$neutral-main: $neutral-2;


@import "cardItem";

@import "caption";
@import "uxSuite";
@import "accordian";
@import "headerArea";
@import "share";

@import "chart";

@import "sprite";



.is-immersive-interactive .l-footer {
    display: block !important;
}

// Uncomment for embeds
//@import "embed";

// Uncomment for full screen (including immersive article main media)
@import "fullscreen";

a {
   color: #00456e; 
}

.display-none{
	display:none !important;
}

.breaker {
	position:relative;
    border-top: 1px dotted $neutral-main;
    padding-bottom: 3px;
    width: 200vw;
    margin-left: -100%;

    &.under-nav{
        padding-bottom: 1px;
        border-top: 1px solid $neutral-6;
    }
}

.breaker-top{

}

.spacer{
	padding-bottom:10px;
}

.l-side-margins:after, .l-side-margins:before {
    content: '';
    position: absolute;
    z-index: 1;
    background: #FFF !important;
}




.show-mobile{
    display:block;

    @include mq(mobileLandscape){
        display:none;
    }
}

.show-tablet{
    display:block;

    @include mq(tablet){
        display:none;
    }
}



.show-desktop{
    display:none;

    @include mq(mobileLandscape){
        display:block;
    }
}


.hidden{
    display:none;
}