

@import "mq";
@import "fonts";
@import "palette";
@import "adStyles";
$neutral-main: $neutral-2;
$link-color:$Sport-Blue;

$Sport-Blue: #00B7FF;

@import "cardItem";
@import "header";
@import "caption";
@import "uxSuite";
@import "accordian";

@import "share";

@import "chart";

@import "sprite";

@import "relatedContent";

@import "teamcolours";



.is-immersive-interactive .l-footer {
    display: block !important;
}

// Uncomment for embeds
//@import "embed";

// Uncomment for full screen (including immersive article main media)
@import "fullscreen";

a {
   color: #00456e; 
}

.display-none{
	display:none !important;
}

.breaker {
	position:relative;
    border-top: 1px dotted $Sport-Blue;
    padding-bottom: 2px;
    width: 200vw;
    margin-left: -100%;

    &--short {
        border-top: 1px dotted $Sport-Blue;
        margin-bottom: 3px;
        @include mq(mobile) {
            display: none;
        }

        @include mq(leftCol) {
            display: block;
            width: 140px;
            margin-left: 0px;
        }

        @include mq(wide) {
            width: 220px;
        }
        &--last{
            @include mq(mobile) {
            display: none;
        }

        @include mq(leftCol) {
            display: block; width: 140px;
            margin-left: 0px;
        }

        @include mq(wide) {
            width: 220px;
        }
            border-top: 1px dotted $Sport-Blue;
            margin-top:3px;
            margin-bottom:10px;
        }
    }

    &.under-nav{
        padding-bottom: 1px;
        border-top: none;
    }
}

.breaker-top{
    // margin-top:12px;
}

.spacer{
	padding-bottom:10px;
}

.l-side-margins:after, .l-side-margins:before {
    content: '';
    position: absolute;
    z-index: 1;
    background: #FFF !important;
}




.show-mobile{
    display:block;

    @include mq(mobileLandscape){
        display:none;
    }
}

.show-tablet{
    display:block;

    @include mq(tablet){
        display:none;
    }
}



.show-desktop{
    display:none;

    @include mq(mobileLandscape){
        display:block;
    }
}


.hidden{
    display:none;
}

.gv-credit {
    font-size: 14px;
    line-height: 20px;
    font-family: "Guardian Text Sans Web","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    color: #767676;
    padding-top: 12px;
    padding-bottom: 36px;
    padding-left:10px;
    // border-top: 1px dotted $neutral-86; 
    @include mq(tablet){
         padding-left:0;
         text-align: right;
    }
   
}

.gv-credit a {
    font-weight: bold;
    color: $link-color;
}

.gv-page-width {
    margin: 0 auto;
    @each $bp in (phablet,
    tablet,
    desktop,
    leftCol,
    wide) {
        @include mq($bp) {
            max-width: map-get($mq-breakpoints, $bp);
        }
    }
}
